header * {
    border: 1px black solid;
}
header > ul {
    justify-self: end;
    display: flex;
}

header > ul > li {
    list-style-type: none;
    display: flex;
    align-items: stretch;
}

header > ul > li > a {
    text-decoration: none;
}

header > ul > li > button {
    display: block;
}

header > ul > li > form > input {
    display: block;
}