<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
	
	
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/springConf/basicConf.xml,/WEB-INF/springConf/beanConf.xml,/WEB-INF/springConf/dataSourceConf.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!--브라우저의 cache에 저장된 것이 refresh되게 하기 위함 -->
	<filter>
		<filter-name>httpCache</filter-name>
		<filter-class>filter.HttpCache</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>httpCache</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- tomcat shutdown시, resource 회수 되지 않는 문제 -->
	<listener>
    	<listener-class>listener.MysqlLeak</listener-class>
	</listener>

</web-app>